<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 th:text="${errormsg}" style="color:red"></h1>
    <h1 align="center">Login Page</h1>
<form method="post" action="/dhruv/loginme">
    User Name: <input type="text" name="uname"> <br> <br>
    Password: <input type="password" name="upass"> <br><br>
    <input type="submit" value="Login" name="sub">
    <input type="reset" value="Cancel" name="res">
</form>
</body>
</html>